In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np
from typing import List, Callable, Dict
from realgam.quantlib import general_utils as gu
from realgam.quantlib.engineer.op_engineer import OpEngineer, GroupOpEngineer
from realgam.quantlib.engineer.op_engineer_vect import OpEngineerV
from realgam.quantlib.engineer.ta_engineer import TalibEngineer, GroupTalibEngineer
from realgam.quantlib.engineer.alpha_engineer import AlphaEngineer
from realgam.quantlib.engineer.interface import BaseEngineer, GroupBaseEngineer
import datetime
import os
import time
PROJECT_PATH = os.getenv('QuantSystemMVP')
DATA_PATH = f'{PROJECT_PATH}/Data/stock_hist.obj'

In [2]:
stocks_df, stocks_extended_df, available_tickers = gu.load_file(DATA_PATH)
stacked_hist = stocks_df.copy()

In [3]:
stacked_hist = stacked_hist.reset_index().set_index(['ticker', 'date'])

In [5]:
tickers = stacked_hist.index.get_level_values('ticker').unique()[:500]
small_hist = stacked_hist[stacked_hist.index.isin(tickers, level='ticker')]
A = stacked_hist[stacked_hist.index.isin(['A'], level='ticker')]

In [13]:
small_hist = small_hist.reset_index().set_index('date')

In [6]:
oe = OpEngineerV(small_hist)
# oe = GroupOpEngineer(small_hist, 'ticker')

In [6]:
oe.ts_corr('closeadj', 'volume', 7, inplace=True)

In [7]:
oe.ts_rank('volume', 5, inplace=True)

In [8]:
oe.ts_ret('closeadj', wide=True)

ticker,A,AA,AAAP,AAC,AAC.U,AACC,AACG,AACH,AACI,AACIU,...,AMCIU,AMCIU1,AMCO,AMCR,AMCRY,AMCX,AMD,AME,AMED,AMEH
date,,,,,,,,,,,,,,,,,,,,,
2012-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-04,-0.007975,NaN,NaN,NaN,NaN,-0.007299,0.000000,NaN,NaN,NaN,...,NaN,NaN,0.038462,NaN,-0.005973,0.009641,-0.003650,0.013725,-0.058140,NaN
2012-01-05,0.022402,NaN,NaN,NaN,NaN,0.004902,-0.003788,NaN,NaN,NaN,...,NaN,NaN,0.111111,NaN,-0.003344,0.014589,0.000000,0.016569,-0.002849,NaN
2012-01-06,0.010812,NaN,NaN,NaN,NaN,-0.004878,-0.001690,NaN,NaN,NaN,...,NaN,NaN,0.400000,NaN,-0.026163,0.001307,-0.005495,-0.011957,0.033333,NaN
2012-01-09,0.026214,NaN,NaN,NaN,NaN,0.017157,0.013965,NaN,NaN,NaN,...,NaN,NaN,-0.047619,NaN,0.013433,0.007050,0.029466,0.000261,-0.016590,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-14,-0.020950,-0.070091,0.0,0.000000,-0.002030,0.000000,0.050847,0.0,0.004073,0.000000,...,0.000201,0.0,0.000000,0.035780,0.000000,0.069870,-0.019561,0.005936,-0.043960,-0.099305
2022-03-15,0.021163,0.002857,0.0,0.001026,0.000000,0.000000,-0.048387,0.0,0.000000,-0.001016,...,0.000000,0.0,0.000000,-0.004429,0.000000,-0.057781,0.069242,0.018019,0.057982,0.100055
2022-03-16,0.036230,0.026048,0.0,0.001025,0.000000,0.000000,0.101695,0.0,-0.001521,0.000000,...,0.000000,0.0,0.000000,0.019573,0.000000,0.026797,0.055246,0.015458,0.034360,0.137810
2022-03-17,0.013481,0.067434,0.0,-0.001024,-0.001017,0.000000,0.061538,0.0,0.000000,0.000000,...,0.001404,0.0,0.000000,0.013089,0.000000,0.012296,-0.031897,0.010428,0.052665,0.094473
2022-03-18,0.016810,0.021182,0.0,0.001025,0.000000,0.000000,0.036232,0.0,0.000000,0.002035,...,0.000000,0.0,0.000000,0.005168,0.000000,0.003966,0.015847,0.015141,0.011266,-0.027163

In [20]:
dummy = oe.ts_corr('volume', 'lowadj', 7)

In [21]:
dummy

ticker  date
A       2012-01-03         NaN
AA      2012-01-03         NaN
AAAP    2012-01-03         NaN
AAC     2012-01-03         NaN
AAC.U   2012-01-03         NaN
                        ...
AMCX    2022-03-18   -0.726342
AMD     2022-03-18    0.426641
AME     2022-03-18    0.085004
AMED    2022-03-18    0.471575
AMEH    2022-03-18   -0.151938
Length: 1285000, dtype: float64

In [19]:
dummy.stack().swaplevel()

ticker  date
A       2012-01-11   -0.480329
AACC    2012-01-11   -0.618211
AACG    2012-01-11    0.219250
AACPF   2012-01-11   -0.305476
AAIC    2012-01-11   -0.183243
                        ...
AMCX    2022-03-18   -0.726342
AMD     2022-03-18    0.426641
AME     2022-03-18    0.085004
AMED    2022-03-18    0.471575
AMEH    2022-03-18   -0.151938
Length: 624053, dtype: float64

In [17]:
small_hist['dummy'] = dummy.stack().swaplevel()

In [15]:
small_hist

                    open    high     low  close    openadj    highadj  \
ticker date
A      2012-01-03  35.84  36.990  35.740  36.48  23.651649  24.410561
       2012-01-04  36.15  36.360  35.590  36.19  23.855604  23.994184
       2012-01-05  35.88  37.320  35.720  37.00  23.677891  24.628174
       2012-01-06  37.09  37.555  36.805  37.40  24.476425  24.783288
       2012-01-09  37.62  38.420  37.472  38.38  24.826455  25.354397
...                  ...     ...     ...    ...        ...        ...
AMEH   2022-03-14  40.39  41.135  36.035  36.28  40.390000  41.135000
       2022-03-15  36.34  40.180  36.340  39.91  36.340000  40.180000
       2022-03-16  40.71  45.560  40.710  45.41  40.710000  45.560000
       2022-03-17  44.70  50.000  44.670  49.70  44.700000  50.000000
       2022-03-18  48.42  49.885  47.100  48.35  48.420000  49.885000

                      lowadj  closeadj     volume     dummy
ticker date
A      2012-01-03  23.585657    24.074  2973100.0       NaN
       2012-01-04  23.486056    23.882  3327500.0       NaN
       2012-01-05  23.572304    24.417  4894600.0       NaN
       2012-01-06  24.288348    24.681  3370100.0       NaN
       2012-01-09  24.728786    25.328  3168500.0       NaN
...                      ...       ...        ...       ...
AMEH   2022-03-14  36.035000    36.280   612477.0 -0.768102
       2022-03-15  36.340000    39.910   625470.0 -0.850430
       2022-03-16  40.710000    45.410   629122.0 -0.709687
       2022-03-17  44.670000    49.700   481134.0 -0.509006
       2022-03-18  47.100000    48.350   598953.0 -0.151938

[633323 rows x 10 columns]

In [6]:
s_time_chunk = time.time()
oe.ts_rank('volume', 7, inplace=True)
e_time_chunk = time.time()
print(f"Total time: {e_time_chunk - s_time_chunk} sec")

Total time: 61.50217294692993 sec

In [8]:
s_time_chunk = time.time()
oe.ts_corr('volume', 'lowadj', 7, inplace=True)
e_time_chunk = time.time()
print(f"Total time: {e_time_chunk - s_time_chunk} sec")

Total time: 18.82079291343689 sec

In [9]:
s_time_chunk = time.time()
oe.ts_argmin('volume', 7, inplace=True)
e_time_chunk = time.time()
print(f"Total time: {e_time_chunk - s_time_chunk} sec")

Total time: 21.080628871917725 sec

In [10]:
s_time_chunk = time.time()
oe.cs_pctrank('volume', inplace=True)
e_time_chunk = time.time()
print(f"Total time: {e_time_chunk - s_time_chunk} sec")

Total time: 0.5754458904266357 sec