In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np
from typing import List, Callable, Dict
from realgam.quantlib import general_utils as gu
from realgam.quantlib.engineer.factor_engineer import FactorEngineer, GroupFactorEngineer
from realgam.quantlib.engineer.ta_engineer import TalibEngineer, GroupTalibEngineer
from realgam.quantlib.engineer.alpha_engineer import AlphaEngineer
from realgam.quantlib.engineer.interface import BaseEngineer, GroupBaseEngineer
import datetime
import os
import time
PROJECT_PATH = os.getenv('QuantSystemMVP')
DATA_PATH = f'{PROJECT_PATH}/Data/stock_hist.obj'

In [2]:
stocks_df, stocks_extended_df, available_tickers = gu.load_file(DATA_PATH)
stacked_hist = stocks_df.copy()

In [3]:
A  = stacked_hist[stacked_hist.ticker == 'A']

In [3]:
gfe0 = GroupFactorEngineer(stacked_hist, 'ticker')

In [4]:
gfe0.set_df(stacked_hist)

In [5]:
gfe0.calc_ret('closeadj')

date
2012-01-03         NaN
2012-01-04   -0.007975
2012-01-05    0.022402
2012-01-06    0.010812
2012-01-09    0.026214
                ...
2013-03-11    0.000000
2013-03-12    0.004545
2013-03-13    0.000000
2013-03-14    0.000000
2013-03-15   -0.009050
Name: closeadj, Length: 13820154, dtype: float64

In [7]:
gfe0.calc_ret('closeadj', inplace=True)

In [9]:
A

,ticker,open,high,low,close,openadj,highadj,lowadj,closeadj,volume
date,,,,,,,,,,
2012-01-03,A,35.84,36.990,35.740,36.48,23.651649,24.410561,23.585657,24.074,2973100.0
2012-01-04,A,36.15,36.360,35.590,36.19,23.855604,23.994184,23.486056,23.882,3327500.0
2012-01-05,A,35.88,37.320,35.720,37.00,23.677891,24.628174,23.572304,24.417,4894600.0
2012-01-06,A,37.09,37.555,36.805,37.40,24.476425,24.783288,24.288348,24.681,3370100.0
2012-01-09,A,37.62,38.420,37.472,38.38,24.826455,25.354397,24.728786,25.328,3168500.0
...,...,...,...,...,...,...,...,...,...,...
2022-03-10,A,131.40,134.520,131.290,134.33,131.400000,134.520000,131.290000,134.330,1933127.0
2022-03-11,A,135.43,136.440,130.160,130.31,135.430000,136.440000,130.160000,130.310,1815743.0
2022-03-14,A,131.00,132.260,126.900,127.58,131.000000,132.260000,126.900000,127.580,1737099.0
2022-03-15,A,129.22,131.150,128.865,130.28,129.220000,131.150000,128.865000,130.280,1649205.0
2022-03-16,A,131.93,135.610,131.300,135.00,131.930000,135.610000,131.300000,135.000,1673049.0

In [5]:
gfe0.calc_ret('closeadj', inplace=True)

In [9]:
gte0 = GroupTalibEngineer(stacked_hist, 'ticker')
gte0.adx(20, inplace=True)
gte0.ma('closeadj', 20, inplace=True)

In [6]:
gte0.df = stacked_hist

NameError: name 'gte0' is not defined

In [7]:
te0 = TalibEngineer(A)
te0.adx_series(20, inplace=True)

/Users/punlee/miniconda3/envs/quant/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [8]:
te0.df

,ticker,open,high,low,close,openadj,highadj,lowadj,closeadj,volume,adx_20
date,,,,,,,,,,,
2012-01-03,A,35.84,36.990,35.740,36.48,23.651649,24.410561,23.585657,24.074,2973100.0,NaN
2012-01-04,A,36.15,36.360,35.590,36.19,23.855604,23.994184,23.486056,23.882,3327500.0,NaN
2012-01-05,A,35.88,37.320,35.720,37.00,23.677891,24.628174,23.572304,24.417,4894600.0,NaN
2012-01-06,A,37.09,37.555,36.805,37.40,24.476425,24.783288,24.288348,24.681,3370100.0,NaN
2012-01-09,A,37.62,38.420,37.472,38.38,24.826455,25.354397,24.728786,25.328,3168500.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2022-03-10,A,131.40,134.520,131.290,134.33,131.400000,134.520000,131.290000,134.330,1933127.0,22.910053
2022-03-11,A,135.43,136.440,130.160,130.31,135.430000,136.440000,130.160000,130.310,1815743.0,22.293833
2022-03-14,A,131.00,132.260,126.900,127.58,131.000000,132.260000,126.900000,127.580,1737099.0,22.086410
2022-03-15,A,129.22,131.150,128.865,130.28,129.220000,131.150000,128.865000,130.280,1649205.0,21.889358
2022-03-16,A,131.93,135.610,131.300,135.00,131.930000,135.610000,131.300000,135.000,1673049.0,21.031066

In [12]:
fe0 = FactorEngineer(A)
fe0.roll_tsargmax('lowadj', 9, inplace=True)

/Users/punlee/miniconda3/envs/quant/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [13]:
fe0.df

,ticker,open,high,low,close,openadj,highadj,lowadj,closeadj,volume,tsargmax_lowadj
date,,,,,,,,,,,
2012-01-03,A,35.84,36.990,35.740,36.48,23.651649,24.410561,23.585657,24.074,2973100.0,NaN
2012-01-04,A,36.15,36.360,35.590,36.19,23.855604,23.994184,23.486056,23.882,3327500.0,NaN
2012-01-05,A,35.88,37.320,35.720,37.00,23.677891,24.628174,23.572304,24.417,4894600.0,NaN
2012-01-06,A,37.09,37.555,36.805,37.40,24.476425,24.783288,24.288348,24.681,3370100.0,NaN
2012-01-09,A,37.62,38.420,37.472,38.38,24.826455,25.354397,24.728786,25.328,3168500.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2022-03-10,A,131.40,134.520,131.290,134.33,131.400000,134.520000,131.290000,134.330,1933127.0,3.0
2022-03-11,A,135.43,136.440,130.160,130.31,135.430000,136.440000,130.160000,130.310,1815743.0,2.0
2022-03-14,A,131.00,132.260,126.900,127.58,131.000000,132.260000,126.900000,127.580,1737099.0,1.0
2022-03-15,A,129.22,131.150,128.865,130.28,129.220000,131.150000,128.865000,130.280,1649205.0,0.0
2022-03-16,A,131.93,135.610,131.300,135.00,131.930000,135.610000,131.300000,135.000,1673049.0,0.0

In [4]:
gfe0.calc_ret('closeadj', inplace=True)
gfe0.roll_vol('closeadj', 20, inplace=True)
gfe0.pct_change_cols('closeadj','openadj', inplace=True)

In [12]:
afe0 = AlphaEngineer(stacked_hist, 'ticker')

In [13]:
afe0.alpha1(5, 20, inplace=True)

In [15]:
afe0.df

,ticker,open,high,low,close,openadj,highadj,lowadj,closeadj,volume,alpha1
date,,,,,,,,,,,
2012-01-03,A,35.84,36.990,35.740,36.48,23.651649,24.410561,23.585657,24.074,2973100.0,NaN
2012-01-04,A,36.15,36.360,35.590,36.19,23.855604,23.994184,23.486056,23.882,3327500.0,NaN
2012-01-05,A,35.88,37.320,35.720,37.00,23.677891,24.628174,23.572304,24.417,4894600.0,NaN
2012-01-06,A,37.09,37.555,36.805,37.40,24.476425,24.783288,24.288348,24.681,3370100.0,NaN
2012-01-09,A,37.62,38.420,37.472,38.38,24.826455,25.354397,24.728786,25.328,3168500.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2013-03-11,ZZ,2.20,2.210,2.200,2.20,2.200000,2.210000,2.200000,2.200,407100.0,0.8
2013-03-12,ZZ,2.20,2.210,2.200,2.21,2.200000,2.210000,2.200000,2.210,160000.0,1.0
2013-03-13,ZZ,2.20,2.210,2.200,2.21,2.200000,2.210000,2.200000,2.210,308900.0,0.8
2013-03-14,ZZ,2.20,2.210,2.200,2.21,2.200000,2.210000,2.200000,2.210,275000.0,0.6
2013-03-15,ZZ,2.21,2.210,2.190,2.19,2.210000,2.210000,2.190000,2.190,1518200.0,0.4

In [4]:
s_time_chunk = time.time()
afe0.alpha2(2, 6, inplace=True)
e_time_chunk = time.time()

print(f"Total time: {e_time_chunk - s_time_chunk} sec")

/Users/punlee/miniconda3/envs/quant/lib/python3.9/site-packages/pandas/core/arraylike.py:364: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

Total time: 4843.606370210648 sec

In [10]:
stacked_hist.low.rolling(9).apply(lambda x: pd.Series(x).rank(pct=True).iloc[-1])

KeyboardInterrupt:

In [8]:
t = [['ticker','sus'], 'date']
flat_list = [item for sublist in t for item in sublist]

In [9]:
flat_list

['ticker', 'sus', 'd', 'a', 't', 'e']

In [ ]:
gfe0.calc_ret('closeadj')

In [9]:
gfe0.roll_vol('closeadj',20, inplace=True)

In [7]:
gfe0.delta('high', 2)

In [10]:
gfe0.df

,ticker,open,high,low,close,openadj,highadj,lowadj,closeadj,volume,vol_20
date,,,,,,,,,,,
2012-01-03,A,35.84,36.990,35.740,36.48,23.651649,24.410561,23.585657,24.074,2973100.0,NaN
2012-01-04,A,36.15,36.360,35.590,36.19,23.855604,23.994184,23.486056,23.882,3327500.0,NaN
2012-01-05,A,35.88,37.320,35.720,37.00,23.677891,24.628174,23.572304,24.417,4894600.0,NaN
2012-01-06,A,37.09,37.555,36.805,37.40,24.476425,24.783288,24.288348,24.681,3370100.0,NaN
2012-01-09,A,37.62,38.420,37.472,38.38,24.826455,25.354397,24.728786,25.328,3168500.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2013-03-11,ZZ,2.20,2.210,2.200,2.20,2.200000,2.210000,2.200000,2.200,407100.0,0.006292
2013-03-12,ZZ,2.20,2.210,2.200,2.21,2.200000,2.210000,2.200000,2.210,160000.0,0.006356
2013-03-13,ZZ,2.20,2.210,2.200,2.21,2.200000,2.210000,2.200000,2.210,308900.0,0.006291
2013-03-14,ZZ,2.20,2.210,2.200,2.21,2.200000,2.210000,2.200000,2.210,275000.0,0.005875
2013-03-15,ZZ,2.21,2.210,2.190,2.19,2.210000,2.210000,2.190000,2.190,1518200.0,0.006284

In [ ]:
df = stacked_hist.copy()
df['ret'] = self.calc_ret(price_col)

eng_values = df.groupby(self.groupby_col)['ret'].rolling(n).std()