In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np
from typing import List, Callable, Dict
from realgam.quantlib import general_utils as gu
from realgam.quantlib.engineer.op_engineer import OpEngineer, GroupOpEngineer
from realgam.quantlib.engineer.ta_engineer import TalibEngineer, GroupTalibEngineer
from realgam.quantlib.engineer.alpha_engineer import AlphaEngineer
from realgam.quantlib.engineer.interface import BaseEngineer, GroupBaseEngineer
import datetime
import os
import time
PROJECT_PATH = os.getenv('QuantSystemMVP')
DATA_PATH = f'{PROJECT_PATH}/Data/stock_hist.obj'

In [2]:
stocks_df, stocks_extended_df, available_tickers = gu.load_file(DATA_PATH)
stacked_hist = stocks_df.copy().swaplevel()

In [5]:
tickers = stacked_hist.index.get_level_values('ticker').unique()[:1000]
small_hist = stacked_hist[stacked_hist.index.isin(tickers, level='ticker')]
A = stacked_hist[stacked_hist.index.isin(['A'], level='ticker')]

In [ ]:
goe = GroupOpEngineer(tripA, 'ticker')

In [11]:
price = small_hist['closeadj'].unstack('ticker')
eng_values = price.pct_change().stack(dropna=False).swaplevel()

In [13]:
small_hist['ret'] = eng_values

In [17]:
price

ticker,A,AA,AAAP,AAC,AAC.U,AACC,AACG,AACH,AACI,AACIU,...,AWK,AWR,AWRE,AWX,AX,AXAC.U,AXAR,AXDX,AXE,AXGN
date,,,,,,,,,,,,,,,,,,,,,
2012-01-03,24.074,NaN,NaN,NaN,NaN,4.11,2.376,NaN,NaN,NaN,...,25.345,14.077,1.329,2.90,4.157,NaN,NaN,1.34,54.065,2.60
2012-01-04,23.882,NaN,NaN,NaN,NaN,4.08,2.376,NaN,NaN,NaN,...,25.256,13.855,1.291,2.88,4.138,NaN,NaN,1.38,53.976,2.60
2012-01-05,24.417,NaN,NaN,NaN,NaN,4.10,2.367,NaN,NaN,NaN,...,25.506,13.831,1.324,2.85,4.170,NaN,NaN,1.36,53.959,2.75
2012-01-06,24.681,NaN,NaN,NaN,NaN,4.08,2.363,NaN,NaN,NaN,...,25.675,13.843,1.366,2.90,4.183,NaN,NaN,1.43,54.364,2.80
2012-01-09,25.328,NaN,NaN,NaN,NaN,4.15,2.396,NaN,NaN,NaN,...,25.611,13.831,1.347,2.70,4.183,NaN,NaN,1.38,54.629,2.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-14,127.580,73.50,NaN,9.75,9.83,NaN,1.240,NaN,9.860,9.84,...,152.620,84.010,2.950,3.28,47.350,10.16,NaN,1.67,NaN,8.10
2022-03-15,130.280,73.71,NaN,9.76,9.83,NaN,1.180,NaN,9.860,9.83,...,155.950,85.970,3.000,3.28,47.630,NaN,NaN,1.70,NaN,8.12
2022-03-16,135.000,75.63,NaN,9.77,9.83,NaN,1.300,NaN,9.845,NaN,...,156.150,85.660,3.000,3.32,49.580,NaN,NaN,1.90,NaN,8.20
2022-03-17,136.820,80.73,NaN,9.76,9.82,NaN,1.380,NaN,9.845,9.83,...,157.430,85.970,3.050,3.47,49.060,10.19,NaN,1.91,NaN,9.12
2022-03-18,139.120,82.44,NaN,9.77,9.82,NaN,1.430,NaN,9.845,9.85,...,158.720,87.440,3.180,3.62,49.620,NaN,NaN,1.95,NaN,9.25

In [16]:
price.shift(2)

ticker,A,AA,AAAP,AAC,AAC.U,AACC,AACG,AACH,AACI,AACIU,...,AWK,AWR,AWRE,AWX,AX,AXAC.U,AXAR,AXDX,AXE,AXGN
date,,,,,,,,,,,,,,,,,,,,,
2012-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-05,24.074,NaN,NaN,NaN,NaN,4.11,2.376,NaN,NaN,NaN,...,25.345,14.077,1.329,2.90,4.157,NaN,NaN,1.34,54.065,2.60
2012-01-06,23.882,NaN,NaN,NaN,NaN,4.08,2.376,NaN,NaN,NaN,...,25.256,13.855,1.291,2.88,4.138,NaN,NaN,1.38,53.976,2.60
2012-01-09,24.417,NaN,NaN,NaN,NaN,4.10,2.367,NaN,NaN,NaN,...,25.506,13.831,1.324,2.85,4.170,NaN,NaN,1.36,53.959,2.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-14,134.330,82.94,NaN,9.75,9.85,NaN,1.180,NaN,9.820,NaN,...,153.130,84.730,3.000,3.72,48.920,10.160,NaN,1.89,NaN,8.51
2022-03-15,130.310,79.04,NaN,9.75,9.85,NaN,1.180,NaN,NaN,NaN,...,152.080,83.890,3.010,3.47,48.550,10.166,NaN,1.79,NaN,8.32
2022-03-16,127.580,73.50,NaN,9.75,9.83,NaN,1.240,NaN,9.860,9.84,...,152.620,84.010,2.950,3.28,47.350,10.160,NaN,1.67,NaN,8.10
2022-03-17,130.280,73.71,NaN,9.76,9.83,NaN,1.180,NaN,9.860,9.83,...,155.950,85.970,3.000,3.28,47.630,NaN,NaN,1.70,NaN,8.12
2022-03-18,135.000,75.63,NaN,9.77,9.83,NaN,1.300,NaN,9.845,NaN,...,156.150,85.660,3.000,3.32,49.580,NaN,NaN,1.90,NaN,8.20

In [4]:
tripA
price = self.df[price_col].unstack('ticker')
        eng_values = price.pct_change().stack(dropna=False)

                    open    high     low  close    openadj    highadj  \
ticker date
A      2012-01-03  35.84  36.990  35.740  36.48  23.651649  24.410561
       2012-01-04  36.15  36.360  35.590  36.19  23.855604  23.994184
       2012-01-05  35.88  37.320  35.720  37.00  23.677891  24.628174
       2012-01-06  37.09  37.555  36.805  37.40  24.476425  24.783288
       2012-01-09  37.62  38.420  37.472  38.38  24.826455  25.354397
...                  ...     ...     ...    ...        ...        ...
AXGN   2022-03-14   8.28   8.400   7.940   8.10   8.280000   8.400000
       2022-03-15   8.07   8.380   8.030   8.12   8.070000   8.380000
       2022-03-16   8.17   8.330   7.895   8.20   8.170000   8.330000
       2022-03-17   7.97   9.160   7.970   9.12   7.970000   9.160000
       2022-03-18   9.00   9.430   9.000   9.25   9.000000   9.430000

                      lowadj  closeadj     volume
ticker date
A      2012-01-03  23.585657    24.074  2973100.0
       2012-01-04  23.486056    23.882  3327500.0
       2012-01-05  23.572304    24.417  4894600.0
       2012-01-06  24.288348    24.681  3370100.0
       2012-01-09  24.728786    25.328  3168500.0
...                      ...       ...        ...
AXGN   2022-03-14   7.940000     8.100   427624.0
       2022-03-15   8.030000     8.120   314330.0
       2022-03-16   7.895000     8.200   276713.0
       2022-03-17   7.970000     9.120   313634.0
       2022-03-18   9.000000     9.250   560402.0

[1291634 rows x 9 columns]